<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.edu.anu.cecs.innerintel">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InnerIntel">
        <activity
            android:name=".activity.MePageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.loginActivity.QuestionThreeActivity"
            android:exported="true" />
        <activity
            android:name=".activity.loginActivity.QuestionTwoActivity"
            android:exported="true" />
        <activity
            android:name=".activity.loginActivity.QuestionOneActivity"
            android:exported="true" />
        <activity
            android:name=".activity.loginActivity.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".activity.loginActivity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activity.HomepageActivity"
            android:exported="true" />
        <activity
            android:name=".activity.loginActivity.SignUpNoteActivity"
            android:exported="true"
            android:parentActivityName=".activity.loginActivity.LoginActivity" />
        <activity
            android:name=".activity.loginActivity.QuestionnaireActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LogDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LogPageActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MessageActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AddLogActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddMealActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".activity.AddlogActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".activity.loginActivity.RegisterActivity"
            android:exported="true"
            android:parentActivityName=".activity.loginActivity.SignUpNoteActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />
    </application>

</manifest>